{% if page.title == 'home' %}
<header>
<h3 class="header_title">NOTEJAR</h3>
<h4 class="sub_header"><span>$ </span>
  <span id="typewriter"></span><span id="cursor" class="active__element">_</span></h4>
</header>
{% elsif page.title != 'About Me' %}
<header>
  <h3 class="post-title">{{ page.title | upcase }}</h3>
</header>
  <h4 class="post-sub-title">{{ page.subtitle }}</h4>
{% endif %}

{% if page.type == 'post' %}
  <p class="post-sub-meta"><time>{{ page.date | date: '%Y . %B . %-d' | upcase }}<time>
  <br />By {{ site.author_name }}</p>
{% endif %}
