{% if page.title %}
<title>{{ page.title | upcase }}</title>
{% else %}
<title>{{ site.title }}</title>
{% endif %}
<link href="/assets/styles.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet">
<link rel="icon" href="/assets/favicon.ico">

{% if page.url == "/404.html" %}
  <meta http-equiv="refresh" content="5; url=/">
{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
